/* Estructura de la pagina */

body {
  background-color: black;
  text-align: center;
  margin: 0;
}

/*cabecera*/

header {
  background-color: #DE0202;
}

header .logotipo {
  max-width: 100%;
}

.fav {
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav .box {
  border: 1px solid;
  width: 230px;
  /* vertical-align: top; */
}

.fav .box-grey {
  background-color: grey;
}

.buscador input {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  width: 100%;
}

.easy-autocomplete-container {
  height: 0;
  font-family: 'Amatic SC', cursive;
  position: relative;
  z-index: 999;
  color: white;
}

/*
parametros que use para arreglarlo en el inspeccinar elemento
element.style {
    width: 232px;
    height: 42px;
    position: relative;
    z-index: 999;
} */

/* Parte central de la pagina*/

.expli {
  font-family: 'Amatic SC', cursive;
  width: 100vw;
  color: white;
}

.mitad {
  width: 702px;
  margin: auto;
  height: 550px;
  background-color: black;
}

.publicidad {
  width: 230px;
  background-color: #292929;
  color: #7B7B7B;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0;
  padding: 10px;
  display: none;
  /*Temporal*/
}

.series {
  border: 1px solid;
  width: 702px;
  height: 549px;
  background-color: grey;
  display: inline-block;
}

.player {
  border: 0;
  display: block;
  width: 400px;
  min-height: 200px;
  margin: auto;
}

.series .item {
  width: 200px;
  height: 150px;
  background-color: white;
  margin: 5px;
  /* display: inline-block; */
  display: inline-flex;
  border: 2px solid black;
}

.slider-for {
  height: 70%;
}

.slider-for .slider-top {
  width: 97%;
  height: 40vh;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  /* display: inline-block; */
  display: inline-flex;
  border: 2px solid black;
}

.series .item:hover {
  transform: scale(1.2);
  transform: translateY(-3px);
  border-color: red;
  transition: all 0.8s;
}

.series h3 {
  color: white;
  text-shadow: 2px 2px #ff0000;
  font-family: 'Berkshire Swash', cursive;
}

.series .episodio {
  color: white;
  background-color: orange;
  padding: 2px;
  opacity: 0.8;
}

/*pie de pagina*/

.footer {
  margin-top: 1%;
  border: 1px solid;
  height: 119px;
  width: 100vw;
  background-color: #232323;
  display: block;
  justify-content: center;
  align-items: center;
}
.footer .info {
  margin-top: 2%;
  color: white;
  font-family: 'Amatic SC', cursive;
}
#contenedor-descripcion{
  color: white;
  text-shadow: 2px 2px #2D9FA6;
  font-family: 'Berkshire Swash', cursive;
  padding-left: 15%;
  padding-right: 15%;
}
form fieldset{
  color: white;
  text-shadow: 2px 2px #2D9FA6;
  font-family: 'Berkshire Swash', cursive;
}
.contacto p {
  display: inline-flex;
  justify-content: space-around;
}

.contacto a {
  color: #5DD6DE;
}
