
/* Estructura de la pagina */
body {
  background-color: black;
  text-align: center;
  margin: 0;
}

/*cabecera*/

header{
background-color: #DE0202;
}

header .logotipo {
  max-width: 100%;
}

.fav {
    background-color: #3e3e3e;
}

.fav div {
  border: 1px solid;
  width: 230px;
  height: 32px;
  background-color: grey;
  display: inline-block;
}

/* Parte central de la pagina*/

.mitad{
  width: 702px;
  margin:auto;
  height: 550px;
  background-color: black;
}
.publicidad {
  width: 230px;
  background-color: #292929;
  color:#7B7B7B;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0;
  padding: 10px;
  display: none; /*Temporal*/
}
.series {
  border: 1px solid;
  width: 702px;
  height: 549px;
  background-color: grey;
  display: inline-block;
}

.series .grid {
}

.series .item {
	width: 200px;
	height: 150px;
	background-color: white;
	margin: 5px;
	/* display: inline-block; */
	display: inline-flex;
	border:2px solid black;
}

.series .item:hover {
	transform:scale(1.2);
	transform:translateY(-3px);
	border-color:red;
	transition:all 0.8s;
}

.series h3 {
color: white;
text-shadow: 2px 2px #ff0000;

}

.series .episodio {
	color: white;
	background-color: orange;
	padding: 2px;
  opacity: 0.8;
}

/*pie de pagina*/

.footer{
  border: 1px solid;
  height: 119px;
  background-color: #232323;
}
.footer strong {
color: white;
text-shadow: 2px 2px #ff0000;

}
